/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/.DS_Store

/bin/

# @diegotorres50 ignoramos el composer.phar, ya que es la aplicacion que ejecuta los comandos, pero NO se debe ignorar composer.lock NI TAMPOCO el composer.json ya que son los metadata que especifican las versiones y dependencias que el proyecto debe usar.Ver: https://getcomposer.org/doc/01-basic-usage.md y http://ilikekillnerds.com/2014/09/should-you-commit-composer-lock-into-your-git-repository/
/composer.phar

# @diegotorres50 ignoranos las librerias de terceros que se generan con la instalcion o el update del composer
/vendor/

# @diegotorres50 says ignoramos los bundles que symfony genera con la instalacion default
/web/bundles/acmedemo/
/web/bundles/framework/
/web/bundles/sensiodistribution/
/web/bundles/fosjsrouting

# @diegotorres50 says el unico bundle que permitimos es el del propio proyecto qualisoft
!web/bundles/qualisoftapp/