{# menu prile quick info #}
<div class="profile">
    <div class="profile_pic">
        <img src="{{ asset('bundles/qualisoftapp/images/img.jpg') }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Hola,</span>
        <h2>{{ app.session.get('userName') }}</h2>
    </div>
</div>
<br />